section.feed_page {
    width: calc(100% - 250px);
    height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 25px;
    overflow: auto;
}