nav {
    width: 250px;
    height: calc(100vh - 100px);
}

nav .add_question_btn {
    background-color: #2d69cf;
    color : #fff;
    outline : none;
    border: none;
    padding: 15px 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 6px 5px 0px #c2c2c2;
    width: 100%;
    cursor: pointer;
}

nav.widescreen_nav ul {
    width: 100%;
    margin: 100px 0 10px 10px;
    box-shadow: 2px 1px 13px 0px #8b8a8b;
    border-radius: 10px;
}

nav.widescreen_nav ul li.menu_item {
    list-style-type: none;
    margin: 10px 0;
    cursor: pointer;
    padding: 15px 10px;
    display: flex;
    align-items: center;
}

nav.widescreen_nav ul li.menu_item .menu_icon {
    margin-right: 10px;
}

nav.widescreen_nav ul li:hover {
    background-color: #18366a;
}

nav ul li.menu_item.active {
    background-color: #18366a85;
    color: #fff;
}

nav.mobile_nav {
    width: 100%;
    height: 50px;
}

nav.mobile_nav ul {
    width: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-around;
    background-color: #8b8a8b;
    color: #fff;
    box-shadow: 0px -11px 14px -6px #858585;
    cursor: pointer;
}

nav.mobile_nav ul li.menu_item .menu_title {
    display: none;
}

nav.mobile_nav ul li.menu_item {
    padding: 10px 30px;
}

nav.mobile_nav ul li.menu_item:hover {
    background-color: #18366a85;
    color: #fff;
}

nav.mobile_nav .add_question_btn {
    margin-top: 20px;
}